{% extends 'base.html' %}

{% block content %}
  <h2>Edit Academy</h2>
  <form method="POST">
    {% csrf_token %}
    {{ AcademyForm.as_p }}
    <button type="submit">Save</button>
  </form>
  
  <hr>

  <h2>Edit Profile</h2>
<form method="POST">
    {% csrf_token %}
    {{ ProfileForm.as_p }}

    <div id="styles-div">
      <h3>Select Styles:</h3>
      {% for choice in ProfileForm.fields.styles.choices %}
          <label for="{{ ProfileForm.styles.id_for_label }}_{{ forloop.counter0 }}">
              <input type="checkbox" name="{{ ProfileForm.styles.name }}" value="{{ choice.0 }}" id="{{ ProfileForm.styles.id_for_label }}_{{ forloop.counter0 }}">
              {{ choice.1 }}
          </label><br>
      {% endfor %}
  </div>  

    <div id="id_medals">
        <h3>Medals:</h3>
        {{ ProfileForm.MedalForm.gold }} Gold
        {{ ProfileForm.MedalForm.silver }} Silver
        {{ ProfileForm.MedalForm.bronze }} Bronze
    </div>

    <div id="id_amateur_record">
        <h3>Amateur Record:</h3>
        {{ ProfileForm.RecordForm.wins }} Wins
        {{ ProfileForm.RecordForm.losses }} Losses
        {{ ProfileForm.RecordForm.no_contest }} No Contest
    </div>

    <div id="id_professional_record">
        <h3>Professional Record:</h3>
        {{ ProfileForm.RecordForm.wins }} Wins
        {{ ProfileForm.RecordForm.losses }} Losses
        {{ ProfileForm.RecordForm.no_contest }} No Contest
    </div>

    <button type="submit">Save</button>
</form>


  <h2>Change Password</h2>
  <form method="POST">
    {% csrf_token %}
    {{ PasswordChangeForm.as_p }}
    <button type="submit">Save</button>
  </form>

  <hr>

  <h2>Create Event</h2>
  <form method="POST">
    {% csrf_token %}
    {{ EventForm.as_p }}
    <button type="submit">Create</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
      var competitorCheckbox = $('#id_competitor');
      var stylesSelect = $('#id_styles');
      var medalsDiv = $('#id_medals');
      var amateurRecordsDiv = $('#id_amateur_record');
      var profesionalRecordDiv = $('#id_professional_record');
      
      // Initialize field visibility based on initial form values
      toggleFields();
  
      // Toggle fields on checkbox and select change
      competitorCheckbox.change(toggleFields);
      stylesSelect.change(toggleFields);
  
      function toggleFields() {
          var isCompetitor = competitorCheckbox.is(':checked');
          var selectedStyles = stylesSelect.val();
  
          medalsDiv.toggle(isCompetitor && selectedStyles && selectedStyles.includes['Karate',"Judo"]);
          amateurRecordsDiv.toggle(isCompetitor && selectedStyles && selectedStyles.includes["MMA"]);
          profesionalRecordDiv.toggle(isCompetitor&&selectedStyles&&selectedStyles.includes["MMA"]);
      }
  });
  </script>
  
{% endblock %}
